* {
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);
}

nav {
    background-color: rgb(26, 239, 239);

}

nav>a {
    background-color: rgb(84, 188, 28);
    padding: 0rem;
    margin: 4px;
    align-content: end;
}
h1 {
    background-color: aquamarine;
}